
.row {
  display: flex;
}
.test{
  min-height: 30vh;
  max-height: 40vh;
  overflow: auto;
}

.test2.ui.card{
  padding-left: 20px;
  padding-bottom: 20px;
  width: 30%;
  height: 30%;
}


.scrollable{
  overflow-y: auto;
  overflow-x: hidden;
  height: auto;
}

.recipeBookContainer{
  position: relative;
  text-align: center;
  margin-top: 1px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 60%;
  color: white;
}

.recipeBookcentered {
  position: absolute;
  /* top: 70%; */
  width: 100%;
  left: 33%;
  bottom: 75%;
  max-height: 100px;
  transform: translate(-20%, -40%);
}

/* .book{
  min-height: 50px;
  max-height: 0px;
} */
.paddingBook{
  margin-right: 13%;
}
.scroll{
  overflow: scroll;
  max-height: 45%
}

.buttonsGroup{
  display: inline-flex;
  margin: 25px;
}

.advancedSearch{
  margin: 20px;
}

.backgroundOpac{
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.backImage{
 background: url("https://cdn.pixabay.com/photo/2019/03/13/11/07/supermarket-4052658_1280.jpg") no-repeat center center fixed;
 background-size: cover;
 height: 100vh;
}



.chart{
  margin: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.modalCustom.ui.modal{
  width: 65%;
  position: fixed; /* or absolute */
  top: 10%;
  left: 17%;
  min-height: 50px;
  max-height: 100px;
}


/* .addeatmodal.ui.modal{
  height: 70% !important;
  width: 70% !important;
} */

/* .stretch.ui.modal.Segment{
  height: 1000px !important;
  width: 1000px !important;
} */
/* .column {
  flex: 50%;
  padding: 10px;
  height: 300px;
} */


.calendar{
  height:1000px;
  margin: 100px;
  width: 1400px;
}
.catagory{
  padding: 10px;
  margin: 10px;
  padding: 10px;
  margin-left: 25px;
  margin-right: 25px;
  height:1000px;
  width: 100%;
}

.App {
  text-align: center;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
