
.row {
  display: flex;
}
/* .test{
  min-height: 30vh;
  max-height: 40vh;
  overflow: auto;
} */

.test2.ui.card{
  padding-left: 20px;
  padding-bottom: 20px;
  width: 30%;
  height: 30%;
}


.scrollable{
  overflow-y: auto;
  overflow-x: hidden;
  height: auto;
}

.recipeBookContainer{
  position: relative;
  text-align: center;
  width: 70%;
  left: 15%;
  color: white;
}
.gridBook{
  position: absolute;
  top: 5%;
  left: 5%;
  height: 90%;
}

.gridMove{
  width: auto;
}

.gridBookColLeft{
  margin-left: 10%;
  margin-right: 7%;
  height: 100%;
}
.gridBookColRight{
  margin-left: 7%;
  margin-right: 10%;
  height: 100%;
}
.white{
  outline-color: black;
  outline-style: solid;
}
.recipesHold::-webkit-scrollbar {
      display: none;
}
.loader{
  position: absolute;
  top: 40%;
  left: 50%;
}

.profile.opac.outlineOrange2Pro{
  width: 30%;
  /* outline: 7px solid #DDD; */
}
.calSeg{
  width: 100%;
}

.stretched.row{
  margin-top: 100px;
}
.savedRec{
  max-width: 60%;
  max-height: 100%;
}
.ui.header:last-child{
  margin: auto !important;
  margin-top: auto;
  left: 80%;
  margin-bottom: auto;
}

.recipesHold{
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 100%;
}
/* .bookImage{
  background-image: url('./test2.png');
  background-repeat: no-repeat;
  background-size: 100%;
} */
.recipeBookcentered {
  /* position: absolute;
  top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* background-image: url('./test2.png');
  background-repeat: no-repeat;
  background-size: 100%; */

  /* position: absolute;
  /* top: 70%; */
  /* width: 100%; */
  /* left: 33%; */
  /* bottom: 75%; */
  /* max-height: 100px; */
  /* transform: translate(-20%, -40%); */
}

/* .book{
  min-height: 50px;
  max-height: 0px;
} */
.paddingBook{
  margin-right: 13%;
}
.scroll{
  overflow: scroll;
  max-height: 45%
}

.buttonsGroup{
  display: inline-flex;
  margin: 25px;
}
.group{
  display: inline-flex;
}
.barr{
  margin-top: 5%;
}



.backgroundOpac{
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.backImage{
 background: url("https://images.pexels.com/photos/264636/pexels-photo-264636.jpeg?cs=srgb&dl=branding-buy-city-264636.jpg&fm=jpg") no-repeat center center fixed;
 background-size: cover;
 background-size: 100%;
 height: 100vh;
}


.backImage2{
 background: url("https://images.pexels.com/photos/811101/pexels-photo-811101.jpeg?cs=srgb&dl=background-clean-commerce-811101.jpg&fm=jpg") no-repeat center center fixed;
 background-size: cover;
 height: 100vh;
 width: 100%;
 overflow: scroll;

}

.backImage2::-webkit-scrollbar {
      display: none;
}

.item.listItemRecipe{
  padding: 10px;
  margin: 10px;
}
.ui.grid.gridBook {
    width: 100%;
    padding: 20px;
}


.column.signup {
    min-width: 20%;
    max-width: 20%;
}
.image.shrinkImage > img{
  height: 300px;
  width: 300px;
}
.outlineOrange{
  border-radius: 25px;
  border: 5px solid rgba(240, 101, 26, 0.9);
  padding: 20px;
}

a.active.item {
  font-size: 2em;
}

.outlineblack{
  border-radius: 25px;
  border: 10px solid grey;
  padding: 00px;
}

.outlineOrange2{
  border-radius: 25px;
  border: 5px solid rgba(240, 101, 26, 0.9);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.outlineOrange6{
  border-radius: 25px;
  border: 5px solid rgba(240, 101, 26, 0.9);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  margin-bottom: 10px;
}

.outlineOrange22{
  border-radius: 25px;
  border: 5px solid grey;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.outlineOrange2Pro{
  border-radius: 25px;
  border: 5px solid rgba(240, 101, 26, 0.9);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  width: 15%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.outloneLightGrey{
  border-radius: 25px;
  border: 2px solid grey;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px;
  margin: 5px;
}

.ui.segment.advancedmodal {
    margin-top: 0px;
   padding-top: 40px;
}
.ui.segment.buttonsGroup {
    margin: 5px;
    padding-top: 30px;
}

.searchbarback::placeholder {
  color: orange;
  opacity: 1
}

.foodGroup{
  margin: 90px;
  width: 70%;
  margin-top: 60px;
  margin-left: 15%;
}
.chartsize{
  margin: 90px;
  padding: 20px;
  /* border: 5px solid rgba(240, 101, 26, 0.9); */
  height: 100%;
  /* margin-top: 60px;
  margin-left: 10%; */
}

.outlineOrange2chart{
  border-radius: 25px;
  border: 5px solid rgba(240, 101, 26, 0.9);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

button.ui.button.recipeButton{
  margin: 20px;
}
.column.login {
    min-width: 20%;
    max-width: 20%;
    max-height: 50%;
    min-height: 50%;
}
/* .backImage3{
 background: url("https://images.pexels.com/photos/933154/pexels-photo-933154.jpeg?cs=srgb&dl=computer-cookies-desk-933154.jpg&fm=jpg") no-repeat center center fixed;
 background-size: cover;
 height: 100%;
} */

/* https://images.pexels.com/photos/416346/pexels-photo-416346.jpeg?cs=srgb&dl=art-art-materials-blank-416346.jpg&fm=jpg */

.backImage3{
 background: url("https://images.pexels.com/photos/172285/pexels-photo-172285.jpeg?cs=srgb&dl=brown-carpentry-design-172285.jpg&fm=jpg") no-repeat center center fixed;
 background-size: cover;
 height: 100%;
}
.backImage4{
 background: url('./fridge.jpeg') no-repeat center center fixed;
 background-size: cover;
 height: 100%;
}
.opac.ui.segment{
  /* background-color: rgba(240, 101, 26, 0.9); */
  background-color: rgba(255, 255, 255, 0.9);
}
.opac23.ui.segment{
  /* background-color: rgba(240, 101, 26, 0.9); */
  background-color: rgba(255, 255, 255, 0.2);
}
.opac2.content{
  /* background-color: rgba(240, 101, 26, 0.9); */
  background-color: rgba(255, 255, 255, 0.2);
}
/* .opac1{
  opacity: 1;
  filter: alpha(opacity=50);
} */
.giveMemargin.ui.card{
  margin: 10px;
}
.recipe.a.ui.card{
  opacity: 1;
  filter: alpha(opacity=50);
  /* background-color: rgba(255, 255, 255, 0.5); */
}
.ui.divided.two.column.grid.foodPageCss{
  height: 100%;
}


.chart{
  margin: 20px;
  margin-left: 40px;
  margin-right: 40px;
}



.modalCustom.ui.modal{
  width: 65%;
  position: fixed; /* or absolute */
  top: 10%;
  left: 17%;
  min-height: 50px;
  max-height: 100px;
}


/* .addeatmodal.ui.modal{
  height: 70% !important;
  width: 70% !important;
} */

/* .stretch.ui.modal.Segment{
  height: 1000px !important;
  width: 1000px !important;
} */
/* .column {
  flex: 50%;
  padding: 10px;
  height: 300px;
} */


.calendar{
   height:1000px;
   /*
  margin: 100px;
  width: 1400px; */
}
.column.hack{
  left: -5%;
}
.column.hack2{
  /* margin-right: 1px; */
  left: -5%;
}
.catagory{
  padding: 10px;
  margin: 10px;
  padding: 10px;
  margin-left: 25px;
  margin-right: 25px;
  height:1000px;
  width: 100%;
}

.App {
  text-align: center;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body{
  font-size: 2em;
}
.fontsize{
  font-size: 3em;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
